<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replace serve a rimpiazzare l'head con quello presente nel fragments -->
<head th:replace="fragments/cdn :: cdn">
<title>Home</title>
</head>
<body>
	<div th:insert="fragments/nav :: navbar"></div>
	<div class="container">		
		<header>
			<h3>Registra un nuovo amministratore</h3>
		</header>
			<form th:action="@{/admin/registraAmministratore}" method="post" class="form-horizontal" id="amministratoreForm" th:object="${amministratore}">
				<!-- ----- Nome ----- -->
				<div class="form-group">
					<label class="col-md-1 control-label">Nome</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input id="nome" type="text" name="nome" placeholder="Nome..." class="form-control" th:field="*{nome}">
						</div>
					</div>
					<div class="col-md-7 error" id="infoNome"></div>
				</div>
				
				<!-- ----- Cognome ----- -->
				<div class="form-group">
					<label class="col-md-1 control-label">Cognome</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input id="cognome" type="text" name="cognome" placeholder="Cognome..." class="form-control" th:field="*{cognome}">
						</div>
					</div>
					<div class="col-md-7 error" id="infoCognome"></div>
				</div>
				
				<!-- ----- Username ----- -->
				<div class="form-group">
					<label class="col-md-1 control-label">Username</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input id="username" type="text" name="username" placeholder="Username..." class="form-control" th:field="*{username}">
						</div>
					</div>
					<!-- checkUser è una variabile nel controller che mi dice se l'utente è già nel db o no -->
					<div class="col-md-7 error" id="infoUsername">
						<p id="checkUser" th:text="${checkUser}" style="color: red; font-size: 12px;"></p>
					</div>
				</div>
				<script>
					$('#username').on('input', function() {
						$('#checkUser').empty(); //pulisco il checkuser quando tento di scrivere qualcosa nell'input'
					})
				</script>
				
				<!-- ----- Password ----- -->
				<div class="form-group">
					<label class="col-md-1 control-label">Password</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock"></i>
							</span>
							<input id="password" type="password" name="password" placeholder="Password..." class="form-control" th:field="*{password}">
						</div>
					</div>
					<div class="col-md-7 error" id="infoPassword"></div>
				</div>
							
				<div class="row">
					<!-- allineo il pulstante con i campi di inserimento -->
					<div class="col-md-4 col-md-offset-1">
						<button type="submit" class="btn btn-warning">
						Registra Amministratore&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span>
						</button>
					</div>
				</div>
			</form>
		</table>
	</div>
	<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
